*{
  box-sizing: border-box;
}

body {
  padding: 20px 100px;
}

@media (max-width: 500px) {
  body {
    padding: 20px 10%;
  }
}


/* ----- Fonts ------ */

body {
  font-family: Arial, sans-serif;
}

/* ---- reusable classes ---- */

a.link-plain {
  color: inherit;
}
