@import 'colors';

.details {
  h3 {
    padding-bottom: 0.5em;
    margin-bottom: 0.2em;
    border-bottom: 2px solid $bordergrey;
  }
  p {
    color: $textgrey;
  }
  .fa-book {
    color: $mediumgrey;
    font-size: 0.8em;
    padding-right: 0.5em;
  }
  .divider {
    color: $textgrey;
    margin: 0 0.25em;
  }
  sup {
    padding-left: 0.7em;
    font-size: 0.5em;
  }
  .description {
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 1.3em;
  }
}

.readme {
  &>h3 {
    border: 1px solid $bordergrey;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    padding: 9px 10px 10px;
    margin: 0;
    background-color: $backgroundgrey;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  article {
    border: 1px solid $bordergrey;
    border-radius: 0 0 3px 3px;
    padding: 45px 45px;
    &>*:first-child {
      margin-top: 0 !important;
    }
    .anchor {
      display: none;
    }
  }
}
